

   <mat-card class="example-card" cdkDrag="cdkDrag">
        <mat-card-header class="example-card-header" cdkDragHandle="cdkDragHandle">
            <div mat-card-avatar="mat-card-avatar" class="example-header-image"></div>
            <mat-card-title>Get authorized users</mat-card-title>
            <mat-card-subtitle>SQLServer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Description"><markdown emoji style="width: 100%;">Gets the list of all authorized users **only**.</markdown></mat-tab>
                <mat-tab label="Data">Content 2</mat-tab>
              </mat-tab-group>
        </mat-card-content>
        <mat-card-content>
            <div
            cdkDropList
            class="input-output-list"
          >
            <div class="input-output" cdkDrag>
              Full data output
            </div>
            <div class="input-output" cdkDrag>
              Row data output
            </div>
            <div class="input-output" cdkDrag>
              Error output
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button="mat-button">EXECUTE</button>
        </mat-card-actions>
    </mat-card>