/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: darkblue; }

.surface {
  background-color: #269;
  background-image:
    linear-gradient(rgba(150,150,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(150,150,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(150,150,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(150,150,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

:host{
  box-sizing: border-box;
  display: block;
  height: 100%;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://cdn.worldvectorlogo.com/logos/microsoft-sql-server.svg');
  background-size: contain;
}

.example-card-header{
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}






